{% extends "base.html" %}

{% block content %}

{{ account.owner.username }}: {{ account.balance }}

<form method="POST">
  {% if FIX_FLAWS %}
  {% csrf_token %}
  {% endif %}

  <fieldset>
    <legend>Send money</legend>
    <select name="receiver">
      {% for other in others %}
      <option value={{ other.owner.username }}>{{ other.owner.username }}</option>
      {% endfor %}
    </select>
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount"/>
    <input type="submit" value="Send" />
  </fieldset>
</form>

{% endblock %}
