{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Vulnerable bank{% endblock %}</title>
  </head>

  <body>
    <div id="sidebar">
      {% block sidebar %}

      {% if user.is_authenticated %}
      <p>Logged in as <strong>{{ user.username }}</strong></p>
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}

      <ul>
        <li><a href="/">Bank</a></li>
        {% if user.is_authenticated %}
        <li><a href="/{{ user.account.iban }}">My account: {{ user.username }}</a></li>
        {% endif %}
      </ul>

      {% endblock %}
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
